.iq-svg {
  min-height: 30px;
}

.gjs-am-asset-svg .gjs-am-preview-cont {
  background: transparent;
}

.gjs-am-asset-svg .gjs-am-preview {
  text-align: center;
}

.gjs-am-asset-svg .gjs-am-preview:before {
  font-size: 2em;
  display: inline-block;
  line-height: 70px;
}

.gjs-am-asset-svg .gjs-am-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
