.gjs-trait-meta-image {
  position: relative;
  cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}

.gjs-trait-meta-image:hover:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
}

.gjs-trait-meta-image:hover:after {
  content: "\f056";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #666;
  font-weight: 900;
  font-size: 20px;
}

.gjs-trait-meta-image img {
  width: 100%;
  height: auto;
}
