.iq-audio {
  min-height: 30px;
}

.gjs-am-asset-audio .gjs-am-preview-cont {
  background: transparent;
}

.gjs-am-asset-audio .gjs-am-preview {
  text-align: center;
}

.gjs-am-asset-audio .gjs-am-preview:before {
  font-size: 2em;
  display: inline-block;
  line-height: 70px;
}
