.gjs-trait-meta-audio {
  position: relative;
  padding-right: 30px;
}

.gjs-trait-meta-audio a {
  padding: 8px 5px;
  display: block;
  word-break: break-all;
}

.gjs-trait-meta-audio a {
  padding: 8px 5px;
  display: block;
  word-break: break-all;
}

.gjs-trait-meta-audio button {
  background: none;
  border: none;
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  opacity: 0.5;
}

.gjs-trait-meta-audio button:hover {
  opacity: 1;
}

.gjs-trait-meta-audio button:before {
  content: "\f056";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
