.pd-edit-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f6f6f6;
  color: #999;
  text-align: center;
  font-size: 20px;
  z-index: 9999;
}
