/* Prevent misalignment from padding */
body {
  padding-top: 0 !important;
}

/* Prevent toolbar margins & paddings in editing mode */
body.pd-editing-mode {
  margin: 0 !important;
  padding: 0 !important;
}

/* Prevent scrollbar on original body (outside editor iframe) */
body.pd-editing-mode:not(.gjs-dashed) {
  overflow-y: hidden;
}

/* Hide the drupal toolbar */
body.pd-editing-mode #toolbar-administration {
  display: none !important;
}

/* Prevent accidental video and iframe clicks */
section[data-gjs-type=container] iframe,
section[data-gjs-type=container] video {
  pointer-events: none;
}

/* Empty image container are displayed way to large */
section[data-gjs-type="container"] img[src=""] {
  max-height: 150px;
}


/* Make the link dialog usable */
.editor-link-dialog {
  min-height: 200px;
}

/* Loading Screen */
.loading-screen-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  z-index: 2147483647;
  background: rgb(233, 94, 39);
  color: rgb(255, 255, 255);
}

.loading-screen-inner {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 75%;
}

.loading-screen-spinner {
  font-size: 20px;
  color: #fff;
}

.fa-spinner {
  font-size: 50px;
}

.loading-screen-content {
  padding: 30px;
}

.loading-screen-content * {
  font-size: 20px;
  color: #fff;
}
