.gjs-trait-meta-embed {
  position: relative;
  cursor: pointer;
}

.gjs-trait-meta-embed:hover:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
}

.gjs-trait-meta-embed:hover:after {
  content: "\f056";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #666;
  font-weight: 900;
  font-size: 20px;
}

.gjs-trait-meta-embed img {
  width: 100%;
  height: auto;
}
