.gjs-am-asset .btn-edit {
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 35px;
  opacity: 0.3;
  display: none;
}

.gjs-am-asset.gjs-am-asset-image:hover .btn-edit {
  display: block;
}

.gjs-am-asset .btn-edit:hover {
  opacity: 1;
}

.gjs-mdl-dialog {
  max-width: 1900px;
}


.tui-image-editor__apply-btn {
  background: #e95e27 !important;
  color: #fff !important;
  margin: 0 !important;
  padding: 3px 10px !important;
  font-size: 16px !important;
  position: absolute !important;
  top: unset !important;
  bottom: 30px !important;
  right: 95px !important;
  cursor: pointer !important;
  border-radius: 0 !important;
}

.tui-image-editor__apply-btn:disabled {
  opacity: 0.1;
}


@media only screen and (min-width: 1600px) {
  .gjs-mdl-container .gjs-asset-manager .gjs-am-assets-cont .gjs-am-assets .gjs-am-asset {
    width: 33%;
  }
}
