.pd-icon-container {
  max-height: 150px;
  overflow: auto;
  padding-top: 36px;
}

.pd-icon-container .pd-icon-search {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  background: #fff;
}

.pd-icon-container .pd-icon-item {
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}

.pd-icon-container .pd-icon-item.pd-icon-selected i {
  color: #e95e27;
}

.pd-icon-container:before {
  position: absolute;
  z-index: 110;
  top: 15px;
  right: 10px;
  color: #ccc;
  display: inherit;
  content: "\f641";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: auto;
  content: "\f0b0";
}
