.gjs-editor .gjs-field.gjs-field-link .gjs-input-holder input {
  background-position: right 8px center;
  padding-right: 30px;
}

.gjs-editor .gjs-pn-panels .gjs-pn-views-container .gjs-trt-trait .gjs-trait-meta.gjs-trait-meta-link {
  border-top: none;
}

.gjs-trait-meta-link {
  position: relative;
  padding-right: 30px;
}

.gjs-trait-meta-link a {
  padding: 8px 5px;
  display: block;
  word-break: break-all;
}

.gjs-trait-meta-link button {
  background: none;
  border: none;
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  opacity: 0.5;
}

.gjs-trait-meta-link button:hover {
  opacity: 1;
}

.gjs-trait-meta-link button:before {
  content: "\f056";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
