.pd_gallery_item {
  height: 50px;
  position: relative;
}

.pd_gallery_item:hover:before {
  content: "\f056";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  left: 0;
  top: 0;
  width: 65px;
  color: #666;
  font-weight: 900;
  height: 50px;
  line-height: 50px;
  background-color: rgba(255,255,255,0.8);
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
  text-align: center;
}

.pd_gallery_item img {
  width: 25%;
  float: left;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.pd_gallery_item input {
  display: inline-block !important;
  width: 75% !important;
  height: 50px !important;
  border-top: none !important;
}
