<div id="pagedesigner-loading-screen-container">
  <div class="loading-screen-overlay">
    <div class="loading-screen-inner">
      <div class="loading-screen-spinner"><i class="fas fa-spinner fa-spin"></i></div>
      <div class="loading-screen-content">{{ content|raw }}</div>
    </div>
  </div>
</div>
