{#
/**
* @file pagedesigner_element.html.twig
* Default theme implementation to present Pagedesigner Element data.
*
* This template is used when viewing Pagedesigner Element pages.
*
*
* Available variables:
* - content: A list of content items. Use 'content' to print all content, or
* - attributes: HTML attributes for the container element.
*
* @see template_preprocess_pagedesigner_element()
*
* @ingroup themeable
*/
#}
{% if content %}
  {{- content -}}
{% endif %}
