.pd-media-next-button {
  float: right;
}

.gjs-mdl-container .gjs-asset-manager .gjs-am-assets-cont {
  display: flex;
  flex-direction: column;
}

.gjs-mdl-container .gjs-asset-manager .gjs-am-assets-cont .gjs-am-assets {
  overflow: auto;
  flex-grow: 1;
  height: auto;
}

.gjs-mdl-container .gjs-asset-manager .gjs-am-assets-cont .pagination-holder {
  padding-top: 20px;
}

.gjs-mdl-container .gjs-asset-manager .gjs-am-assets-cont .pagination-holder button {
  color: #eee;
  background: #999;
  margin-bottom: 0;
  font-weight: normal;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  border: none;
}
